
<div class="addTaskText text-center">
  Adding the Task
</div>
<div class="closeBut">
  <button md-button md-dialog-close type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div>
  <md-input-container class="taskContainer">
    <input id="focus" class="taskText" md-input color="primar" placeholder="Task name" #name>
  </md-input-container>
</div>

<!--TODO:Make date picker-->
<span class="dateContainer">
  <md-input-container>
    <input md-input color="primar" placeholder="Date" #date>
  </md-input-container>
</span>

<span class="priorityContainer">
<md-select placeholder="Select priority">
  <md-option *ngFor="let priority of priorities" [value]="priority.value" #priorityField>
    <i class="fa fa-flag" [style.color]="priority.color" aria-hidden="true"></i>
    <span class="priorityName">{{priority.name}}</span>
  </md-option>
</md-select>
</span>
<br>

<button md-dialog-close (click)="addTask(date.value,name.value,priorityField.value)" type="button" class="btn btn-primary">Add Task
</button>

<!--TODO add focus on input,not exit button-->
