.taskText {
  width: 100%;
}
.taskContainer{
  width: 100%;
}

.priorityContainer{
  width: 40%;
  height: 10%;
}
.priorityName{
  margin-left: 11px;
}
.closeBut{
  float: right;
}
.addTaskText{
  float: left;
  font-size: 17px;
  margin-left: 40%;
}
.left{
  float: left;
}
.right{
  float: right;
}
