<div class="addTaskText text-center">
  Adding the Task
</div>
<div class="closeBut">
  <button md-button md-dialog-close type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div>
  <md-input-container class="taskContainer">
    <input mdInput id="focus" class="taskText"  color="primar" placeholder="Task name" #name>
  </md-input-container>
</div>

<div class="dateContainer left" >
  <form #myForm="ngForm" novalidate>
  <my-date-picker name="mydate" [options]="myDatePickerOptions"
                  [(ngModel)]="date" required></my-date-picker>
</form>
</div>

<div class="priorityContainer left" >
<md-select placeholder="Select priority" [(ngModel)]="selectedPriority" >
  <md-option *ngFor="let priority of priorities" [value]="priority.value" >
    <i class="fa fa-flag" [style.color]="priority.color" aria-hidden="true" ></i>
    <span class="priorityName">{{priority.name}}</span>
  </md-option>
</md-select>
</div>
<br>
<div class="left">
  <button md-dialog-close (click)="addTask(name.value)" type="button" class="btn btn-primary">Add Task
</button></div>



<!--TODO add focus on input,not exit button-->
